body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body{
  overflow-x: hidden;
}
.card-img-top{
height: 190px;
}
.mainbody{
display: flex;
flex-direction: row;
width: 100%;
background-color: green;
}
.one{
  width: 80%;
  text-align: center;
  margin-left: 20%;
}
.cart{
  width:20%;
  text-align: right;
}
/* .customTable{
  width: 40%;

} */
.tableMain{
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100%;
  width: 100%;
}
